@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}

body{
   font-family: 'Montserrat' , sans-serif;
   background-color: #424549;
   color: #fff;
}

.container {
  width: 500px;
  margin: 20px auto;
  user-select: none;
  overflow-x: hidden;
  position: relative;
}

.date {
  background-color: #222;
  text-align: right;
  font-size: 0.75rem;
  padding: 0.75rem 2rem 0.75rem 0;
}

ul.currencies {
  height: 500px;
  background-color: #222;
  padding: 0 2rem 1rem 2rem;
  overflow-y: auto;
}

ul.currencies li {
  background-color: #2e2e36;
  border-radius: 5px;
  padding: 1rem 1rem 0.75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
}

ul.currency-list li.disabled {
  opacity: 0.8;
  cursor: not-allowed;
}
.data {
  display: inline-block;
  width: 78%;
}
.data .input span {
  font-size: 1.5rem;
  display: inline-block;
  width: 4rem;
  text-align: center;
}
.data .input input {
  font-size: 1.5rem;
  width: 78%;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 5px;
  color: #fff;
  padding: 0.3rem;
  margin-bottom: 0.75rem;
}
.data .curr-name {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  margin-left: 4rem;
}
.data .base-curr-rate {
  font-size: 0.8rem;
  margin-left: 4rem;
}
.flag {
  vertical-align: top;
}
.add-btn {
    background-color: #0098b3;
    color: #fff;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    border-top: 3px solid #222;
    outline: none;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.25s;
    position: relative
}
.add-btn.open{
  background-color: coral;
}
.remove-btn{
  background-color: #0098b3;
  color: #fff;

}
.ul .currency-list {
  position: absolute;
  bottom: 54px;
  left:0;
  background-color: #fff;
  color: #2e2e36;
  width: 100%;

}
ul.currency-list li .flag {
  width: 2rem;
  height: 2rem;
  vertical-align: middle;  
}
ul.currency-list li span {
  margin-left: 1rem;
}
ul.currency-list{
  position: absolute;
  bottom: 54px;
  left: 0;
  background-color: #fff;
  color: #222;
  width: 100%;
  height: calc(100vh - 40px - 100px - 55px);
  overflow-y: auto;
  display: none;
}

.add-btn.open + ul.currency-list{
  display: block;
}

.wrapper{
  display: flex;
  position: relative;
}

.wrapper .sidebar{
  width: 200px;
  height: 100%;
  background: black;
  padding: 30px 0px;
  position: fixed;
}

.wrapper .sidebar h2{
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.wrapper .sidebar ul li{
  padding: 15px;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0,0,0,0.05);
  border-top: 1px solid rgba(255,255,255,0.05);
}    

.wrapper .sidebar ul li a{
  color: #bdb8d7;
  display: block;
}

.wrapper .sidebar ul li a .fas{
  width: 25px;
}

.wrapper .sidebar ul li:hover{
  background-color: #594f8d;
}
    
.wrapper .sidebar ul li:hover a{
  color: #fff;
}

.wrapper .main_content{
  width: 100%;
  margin-left: 200px;
}

.wrapper .main_content .header{
  padding: 20px;
  background: #fff;
  color: #717171;
  border-bottom: 1px solid #e0e4e8;
}

.wrapper .main_content .info{
  margin: 20px;
  color: #717171;
  line-height: 25px;
}

.wrapper .main_content .info div{
  margin-bottom: 20px;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: Courier New;
  font-size: 30px;
}

/* Styling for the about page */
.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
  background-color: #fff;
  position: relative;
  left: 105%;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.about-container {
  padding: 0 16px;
  color: #000;

}

.about-container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: grey;
}

.about-button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.about-button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }

}

